/*
Colors used:
Primary Color 1 (Blue): #55b6d4; - Darker: #3B7F94;
Primary Color 2 (Green): #4fe0b2; - Darker: #38A180;
Secondary Color (Pink): #e07090; - Darker: #944A5F;
Text Color (Black): #12313b;
(White): #f7fffd;
(Grey): #a8b8bc;
Fonts used:
Raleway 400 and 700;
Roboto 300 and 500;
*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #12313b;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Mind the order: visited - hover - active*/
/* :hover, :active, etc are pseudo classes */
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #55b6d4;
  text-decoration: none;
}
a:visited {
  color: #3B7F94;
}
a:hover, a:focus {
  color: #E07090;
  text-decoration: underline;
}
a:active {
  color: #4fe0b2;
  text-decoration: underline;
}

img {
  width: 100%;
}

/* .button at the end, so it can override previous <a> */
.button {
  display: inline-block;
  background-color: #55b6d4;
  font-weight: 500;
  color: #f7fffd;
  padding: 4px 8px 6px 8px;
  border-radius: 4px;
  border-bottom: 2px solid #3B7F94;
  margin-bottom: 15px;
  transition: 0.2s opacity; /* see .button:hover */
}
.button:visited {
  color: #f7fffd;
  text-decoration: none;
}
.button:hover, .button:focus {
  opacity: 0.8;
  color: #f7fffd;
  text-decoration: none;
}
.button:active {
  background-color: #4fe0b2;
  border-bottom: 2px solid #38A180;
  text-decoration: none;
}

.button.ghost {
  display: inline-block;
  background-color: transparent;
  color: #55b6d4 !important;
  text-transform: uppercase;
  border: 2px solid #55b6d4;
  /* transition: 0.2s; /* oh, this is doing a "scaling" effect on reload */
}
.button.ghost:visited {
  color: #f7fffd;
  text-decoration: none;
}
.button.ghost:hover, .button.contact:focus {
  opacity: 0.8;
  background-color: #55b6d4;
  color: #f7fffd !important; /* yes, this !important is needed */
  border-bottom: 2px solid #3B7F94;
  transition: 0.2s;
}
.button.ghost:active {
  background-color: #4fe0b2;
  border: 2px solid #38A180 !important;
  text-decoration: none;
}

header {
  /*position: fixed;*/
  background-color: #f7fffd;
  padding: 10px;
  margin: 5px auto;
  border-bottom: 1px dashed #55b6d4;
}
