/*
Colors used:
Primary Color 1 (Blue): #55b6d4;
Primary Color 2 (Green): #4fe0b2
Secondary Color (Pink): #e07090;
Text Color (Black): #12313b;
Background Color (White): #f7fffd;
Additional Color (Grey): #a8b8bc;
*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #12313b;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Mind the order: visited - hover - active*/
/* :hover, :active, etc are pseudo classes */
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #55b6d4;
  text-decoration: none;
}
a:visited {
  color: #944a5f;
}
a:hover, a:focus {
  color: #E07090;
  text-decoration: underline;
}
a:active {
  color: #4fe0b2;
  text-decoration: underline;
}

img {
  width: 100%;
}
